<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nonage.mapper.AddressMapper">
    <select id="findByDong" parameterType="string" resultType="org.nonage.domain.AddressVO">
        SELECT zip_num AS zipNum, sido, gugun, dong, zip_code AS zipCode, bunji
        FROM address
        WHERE dong LIKE '%' || #{dong} || '%'
    </select>

</mapper>