<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nonage.mapper.ProductMapper">

        <select id="getProductList" resultType="org.nonage.domain.ProductVO" parameterType="org.nonage.domain.PageVO">
                <![CDATA[
                        SELECT * FROM (
                            SELECT ROWNUM AS rnum, inner_table.*
                            FROM (
                                SELECT * FROM product
                                ORDER BY pseq DESC
                            ) inner_table
                            WHERE ROWNUM <= #{pageVO.endRow}
                        )
                        WHERE rnum > #{pageVO.startRow}
                ]]>
        </select>
        <insert id="insertProduct" parameterType="org.nonage.domain.ProductVO">
                INSERT INTO product
                (pseq, name, kind, price1, price2, price3, content, image)
                VALUES
                (product_seq.nextval,
                #{productVO.name},
                #{productVO.kind},
                #{productVO.price1},
                #{productVO.price2},
                #{productVO.price3},
                #{productVO.content},
                #{productVO.image})
        </insert>
        <select id="getProduct" resultType="org.nonage.domain.ProductVO">
                select * from product where pseq = #{pseq}
        </select>
        <!--  name이 있을 경우 검색 조건이 적용 없으면 전체 카운트 반환      -->
        <select id="getListCount" resultType="int">
                SELECT COUNT(*) FROM product
                <where>
                        <if test="name != null and name != ''">
                                name LIKE '%' || #{name} || '%'
                        </if>
                </where>
        </select>
        <select id="adminProductSearchList" resultType="org.nonage.domain.ProductVO">
            <![CDATA[
                            SELECT * FROM ( SELECT ROWNUM AS rnum, inner_table.*
                                FROM (
                                            SELECT * FROM product
                                            WHERE name LIKE '%' || #{name} || '%'
                                            ORDER BY pseq DESC
                                    ) inner_table
                                WHERE ROWNUM <= #{pageVO.endRow}
                            ) WHERE rnum > #{pageVO.startRow}
                    ]]>
        </select>

        <update id="updateProduct" parameterType="org.nonage.domain.ProductVO">
            UPDATE product
            SET name = #{productVO.name},
            kind = #{productVO.kind},
            price1 = #{productVO.price1},
            price2 = #{productVO.price2},
            price3 = #{productVO.price3},
            content = #{productVO.content},
            image = #{productVO.image},
            useyn = #{productVO.useyn},
            bestyn = #{productVO.bestyn}
            WHERE pseq = #{productVO.pseq}
        </update>
        <select id="getNewList" resultType="org.nonage.domain.ProductVO">
            select * from new_pro_view
        </select>

        <select id="getBestList" resultType="org.nonage.domain.ProductVO">
            select * from best_pro_view
        </select>

        <select id="getDetail" resultType="org.nonage.domain.ProductVO">
            select * from product where pseq = #{pseq}
        </select>

        <select id="getKindList" resultType="org.nonage.domain.ProductVO">
            select * from product where kind = #{kind}
        </select>

</mapper>